[submodule "sensor"]
	path = sensor
	url = ssh://schumbi@schumbi.de/home/schumbi/repo/sensor.git
[submodule "testing/generator"]
	path = testing/generator
	url = ssh://schumbi@schumbi.de/home/schumbi/repo/generator.git
[submodule "HitMe.network"]
	path = HitMe.network
	url = git@github.com:Schumbi/HitMe.network.git
